<!DOCTYPE html>
<html>
<head>
  <title>SpletnaTrgovina</title>
  <%= csrf_meta_tags %>



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <%= stylesheet_link_tag "Style.css" %>
  <%= stylesheet_link_tag "Sell.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "rails" %>
  <script type="text/javascript" src="javascript/myjs.js"></script>
</head>

<body>
<header>
  <a href="#search" class="search-icon"><%= image_tag("search.png", :alt => "Search", :id => "aside_button", :class => "search-img") %></a>
  <a href="/" class="logo"><%= image_tag("icon.png", :alt => "Logo", :class => "logo-img") %></a>
  <% if user_signed_in? %>
      <div class="user-login"><%= link_to "Profile", records_path, class: "text-login" %></div>
      <div class="user-login"><%= link_to "Log out", destroy_user_session_path, method: "delete", class: "text-login" %></div>
  <% end %>
</header>
<main>
  <aside class="aside">
    <div class="aside-container">
      <% if is_admin? %>
          <div class="aside-button"><%= link_to "All records", records_all_path,  :class => "aside-link" %></div>
      <% end %>
      <div class="aside-button"><%= link_to "My records", records_path,  :class => "aside-link" %></div>
      <div class="aside-button"><%= link_to "Add PL", new_record_path(:q => "PL"),  :class => "aside-link" %></div>
      <div class="aside-button"><%= link_to "Add CD", new_record_path(:q => "CD"),  :class => "aside-link" %></div>
      <div class="aside-button"><%= link_to "Card", card_path,  :class => "aside-link" %></div>
    </div>
  </aside>
  <%= yield %>
</main>

</body>
</html>