<!DOCTYPE html>
<html>
  <head>
    <title>SpletnaTrgovina</title>
    <%= csrf_meta_tags %>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%= stylesheet_link_tag "Style.css" %>
    <%= stylesheet_link_tag "Home.css" %>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript" src="javascript/myjs.js"></script>
  </head>

  <body>
    <header>
      <a href="#search" class="search-icon"><img src="search.png" id="aside_button" class="search-img" alt="Search"></a>
      <a href="Home.html" class="logo"><img src="icon.png" class="logo-img" alt="Logo"></a>
      <% if user_signed_in? %>
        <label class="user-icon"><input name="popup" type="checkbox" style="display:none" required /><img src="user.png" class="user-img" alt="User settings"><span class="user-popup"><a href="Sell.html" class="user-button">prodaj</a><span class="user-button"><%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => "sign_out_button" %></span></span></label>
      <% else %>
          <div class="user-login"><a href="#login" class="text-login">log in</a></div>
      <% end %>


    </header>
    <%= yield %>
  </body>
</html>
