

<div id="login">
  <a href="Home.html">x</a>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <a href="#register">Register</a>
  <% end %>

</div>
<div id="register">
  <a href="Home.html">x</a>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <h3>Register</h3>
      <%= f.label :email %><br />
      <%= f.email_field :email %>

      <%= f.label :password %><br />
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    <%= f.submit "Sign up" %>
  <% end %>
</div>
<main>

  <aside id="search">
    <a href="Home.html">x</a>
    <form  class="search-form">
      Album: <br><input type="text" id="album"><br>
      Artist: <br><input type="text" id="artist"><br>
      <hr style="margin-bottom: 5%">

      <div class="genre_main">
        <label class="genre" >
          <input type="checkbox" name="genre" value="Classic" style="display:none" required>
          <span class="genre_select">
	  							<span>Classic</span>
	  						</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Electronic" style="display:none" required>
          <span class="genre_select" >
	  							<span>Electronic</span>
	  						</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Hip Hop" style="display:none" required>
          <span class="genre_select" >
								<span>Hip Hop</span>
							</span>
        </label><br>


        <label class="genre">
          <input type="checkbox" name="genre" value="Jazz" style="display:none" required>
          <span class="genre_select" >
								<span>Jazz</span>
							</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Metal" style="display:none" required>
          <span class="genre_select" >
	  							<span>Metal</span>
	  						</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Pop" style="display:none" required>
          <span class="genre_select" >
								<span>Pop</span>
							</span>
        </label><br>




        <label class="genre">
          <input type="checkbox" name="genre" value="RnB" style="display:none" required>
          <span class="genre_select" >
								<span>RnB</span>
							</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Rock" style="display:none" required>
          <span class="genre_select">
	  							<span>Rock</span>
	  						</span>
        </label>

        <label class="genre">
          <input type="checkbox" name="genre" value="Other" style="display:none" required>
          <span class="genre_select">
								<span>Other</span>
							</span>
        </label>

      </div>

      <hr style="margin-bottom: 5%; margin-top: 5%">
      <div class="media_main">
        <label class="media_type">
          <input type="checkbox" name="media" value="Pop" style="display:none" required>
          <span class="media_select">
	  							<span>PL</span>
	  						</span>
        </label>

        <label class="media_type">
          <input type="checkbox" name="media" value="Classic" style="display:none" required>
          <span class="media_select">
								<span>CD</span>
							</span>
        </label>
      </div>
      <hr style="margin-bottom: 5%; margin-top: 5%">
      <input type="submit" value="Submit" id="search-submit">
    </form>
    <!--<div class="border"><div>-->
  </aside>
  <section id="records">
    <% @records.each do |i| %>
      <div class="record" style="background-image: url(<%= i.image.url %>);">
        <div class="info">
          <div class="bckgrnd">
          </div>
          <div class="info-text">
            <h3 style="float:right;"> Cena: <%= i.price %>$</h3>
            <h3>Izvajalec: <%= i.artist %></h3><br>
            <h2>Naslov: <%= i.album %></h2><br>
          </div>
        </div>
      </div>
    <% end %>

  </section>

  </main>