
		
		<div class="main-body">


      <%= form_for @records, :html => { :class => "record-form", :multipart => true  } , url: {action: "create"} do |f| %>
				<div>
					<div>
            <%= image_tag(@media) %>

            <%= f.file_field :image %>
						Price: <br>
            <%= f.number_field :price, class: :text_field, step: :any, min: 0 %>
						Album: <br>
            <%= f.text_field :album %>
            Artist: <br>
            <%= f.text_field :artist %>
	  			</div>
        </div>
				<div>
					<div>
						

		  				

            <div class="genre_main">
              <label class="genre" >

                <%= check_box_tag "genre[]", 1, false, :id => "genre_classic" -%>
	  						<span class="genre_select">
	  							<span>Classic</span>
	  						</span>
	  					</label>

	  					<label class="genre">
                <%= check_box_tag "genre[]", 2, false, :id => "genre_electronic" -%>
	  						<span class="genre_select" >
	  							<span>Electronic</span>
	  						</span>
	  					</label>


              <label class="genre">
                <%= check_box_tag "genre[]", 3, false, :id => "genre_hiphop" -%>
                <span class="genre_select" >
                <span>Hip Hop</span>
                </span>
              </label>

              <br>


              <label class="genre">
                <%= check_box_tag "genre[]", 4, false, :id => "genre_jazz" -%>
                <span class="genre_select" >
                  <span>Jazz</span>
                </span>
              </label>

              <label class="genre">
                <%= check_box_tag "genre[]", 5, false, :id => "genre_metal" -%>
                <span class="genre_select" >
                  <span>Metal</span>
                </span>
              </label>

              <label class="genre">
                <%= check_box_tag "genre[]", 6, false, :id => "genre_pop" -%>
                <span class="genre_select" >
                  <span>Pop</span>
                </span>
              </label><br>




              <label class="genre">
                <%= check_box_tag "genre[]", 7, false, :id => "genre_rnb" -%>
                <span class="genre_select" >
                  <span>RnB</span>
                </span>
              </label>

              <label class="genre">
                <%= check_box_tag "genre[]", 8, false, :id => "genre_rock" -%>
                <span class="genre_select">
                  <span>Rock</span>
                </span>
              </label>

              <label class="genre">
                <%= check_box_tag "genre[]", 9, false, :id => "genre_other" -%>
                <span class="genre_select">
                  <span>Other</span>
                </span>
              </label>
            </div>
		  				
	  				
            <label id="about">Description:</label>
            <%= f.text_area :description, size: "40x17" %>
            <%= hidden_field_tag :media, @Qparam %>

            <%= f.submit "Add" %>
            <div><% flash.each do |key, value| %>
              <div class="alert"><%= value %></div>
            <% end %></div>
          </div>
				</div>
      <% end %>

		</div>


